p{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color:darkred;
    font-style: examen;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: darkblue;
}
body{
    background-color: peru;
}